footer.footer
	.footer__container._container
		.footer__logo-ibg-contain
			img.footer__image(src="@img/logo-white.png")
		.footer__body.body-footer
			.body-footer__row.row-footer
				.row-footer__spoller.spoller-row-footer(data-spollers="767.98")
					.spoller-row-footer__item
						button.spoller-row-footer__title(type="button" data-spoller) Pages
						.spoller-row-footer__body
							nav.menu-footer
								ul.menu-footer__list
									li.menu-footer__item
										a.menu-footer__link(href="404.html") Start
									li.menu-footer__item
										a.menu-footer__link(href="404.html") Listings
									li.menu-footer__item
										a.menu-footer__link(href="404.html") Listings alt. 2
									li.menu-footer__item
										a.menu-footer__link(href="404.html") Contact
									li.menu-footer__item
										a.menu-footer__link(href="404.html") Legal
				.row-footer__spoller.spoller-row-footer(data-spollers="767.98")
					.spoller-row-footer__item
						button.spoller-row-footer__title(type="button" data-spoller) Company
						.spoller-row-footer__body 
							nav.menu-footer
								ul.menu-footer__list
									li.menu-footer__item
										a.menu-footer__link(href="404.html") About
									li.menu-footer__item
										a.menu-footer__link(href="404.html") Our team
									li.menu-footer__item
										a.menu-footer__link(href="404.html") Newsroom
									li.menu-footer__item
				.row-footer__spoller.spoller-row-footer(data-spollers="767.98")
					.spoller-row-footer__item
						button.spoller-row-footer__title(type="button" data-spoller) Utility
						.spoller-row-footer__body 
							nav.menu-footer
								ul.menu-footer__list
									li.menu-footer__item
										a.menu-footer__link(href="404.html") Instructions
									li.menu-footer__item
										a.menu-footer__link(href="404.html") Style guide
									li.menu-footer__item
										a.menu-footer__link(href="404.html") Licenses
									li.menu-footer__item
										a.menu-footer__link(href="404.html") Changelog
									li.menu-footer__item
										a.menu-footer__link(href="404.html") 404
				.row-footer__subscribe.subscribe-item-footer
					.subscribe-item-footer__content
						.subscribe-item-footer__title Newsletter
						.subscribe-item-footer__text Subscribe to our (infrequent) newsletter where we share news about upcoming listings and projects.
						form.subscribe-item-footer__form
							.subscribe-item-footer__body 
								input.subscribe-item-footer__input(type="email", placeholder="Email", data-error="Ошибка", data-required="email", autocomplete="off")
								button.subscribe-item-footer__button(type="submit") Submit
			.body-footer__copy.copy-footer
				.copy-footer__text © Estate, LLC. All rights reserved. Powered by Webflow
				.copy-footer__social 
					a.copy-footer__item._icon-linkedin(href="https://www.linkedin.com", target="_blank")
					a.copy-footer__item._icon-facebook(href="https://www.facebook.com", target="_blank")
					a.copy-footer__item._icon-insta(href="https://www.instagramm.com", target="_blank")
					a.copy-footer__item._icon-twitter(href="https://www.twitter.com", target="_blank")
