header.header(data-scroll="67", data-scroll-show)
	.header__container._container
		.header__body
			a.header__logo(href="index.html")
				img.header__image(src="@img/logo.png")
			.header__menu.menu
				button.menu__icon.icon-menu(type="button")
					span
				nav.menu__body
					ul.menu__list
						li.menu__item
							a.menu__link(href="404.html") Listings
						li.menu__item
							a.menu__link(href="404.html") Newsroom
						li.menu__item
							a.menu__link(href="404.html") Contact
						li.menu__item
							a.menu__link(href="404.html") Our team